<div class="card-cont d-flex justify-content-center align-items-center">
  <div class="card m-2">
    <div class="imgBx d-flex justify-content-center align-items-center flex-column p-1">
      <img [src]="cardItems.image" alt="" class="w-100">
      <h2 class="text-white fw-bold my-3">{{cardItems.title}}</h2>
    </div>
    <div class="content d-flex justify-content-center align-items-center flex-column pb-3">
      <div class="size d-flex justify-content-center align-items-center p-3">
        <h3 class="p-0 m-0 text-white text-uppercase fw-bold m-1">Size : </h3>
        <span class="text-center d-inline-block text-dark  mx-1">7</span>
        <span class="text-center d-inline-block text-dark  mx-1">8</span>
        <span class="text-center d-inline-block text-dark  mx-1">9</span>
        <span class="text-center d-inline-block text-dark mx-1">10</span>
      </div>
      <div class="color d-flex justify-content-center align-items-center p-3">
        <h3 class="p-0 m-0 text-white text-uppercase fw-bold">Color :</h3>
          <span></span>
          <span></span>
          <span></span>
      </div>
      <a href="" class="bg-white px-3 py-2 d-inline-block text-dark text-uppercase ">More Details</a>
    </div>
  </div>
</div>
